.encbar_start{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.encbar_item{
    margin: 10px;
}
a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;
}
a:hover{
    color: black;
}
a:active{
    color: black;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shadow{
    display: flex;
    z-index: 3;
    height: 44px;
    background:  #fff;
    border: 2px  solid  #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    margin-top: 30px;
    width: calc(632px + 6px);
    width: 500px;
    max-width: 584px;
}
.button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 6px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.appbar{
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;}
.sub{
    display: inline-block;
    min-width: 167px;
    width: 16%;
    font-size: 16px;
    min-height: 42px;
    font-weight: 500;
    color: #333;
    vertical-align: middle;
    margin-top: 10px;
}
.line{
    border-bottom: 1px solid black;
}
.input-row{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}
.text{
    width: 200px;
}
.form-box{
    width: 385px;
}
.margin{
    margin: 15px;
}
.text-a{
    font-size: 13px;
    vertical-align: middle;
}
.advanced-button{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
    color: #fff;
}
.button-div{
    display: flex;
    justify-content: flex-end;
    width: 590px;
    margin-top: 35px;
}
.center-align{
    display: flex;
    justify-content: center;
}